# HMAC-secrets
NEXUS_HMAC_SECRET=change_me
ORDERS_HMAC_SECRET=change_me
FINANCE_HMAC_SECRET=change_me

# Portar
NEXUS_PORT=14000
CORE_PORT=14500
INFINITY_PORT=15000
ORDERS_PORT=15100
FINANCE_PORT=15200
STATUS_PORT=15300
MOCK_PORT=5399
