# Port
PORT=14090

# SQLite file
DB_PATH=./data/analytics.sqlite

# Allowed origins (dev)
# Tips: använd proxy i Vite så du slipper CORS helt, men detta är fallback.
CORS_ORIGINS=http://localhost:5175,http://localhost:5176,http://localhost:5179,http://localhost:5180,http://localhost:5288,http://localhost:5289
